<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
">
    <bean id="car" class="cn.happy.spring16autowire.Car">
        <property name="brand" value="奥迪"></property>
    </bean>
    <bean id="student" class="cn.happy.spring16autowire.Student" autowire="byName">
        <property name="name" value="隔壁老鹅王"></property>
        <property name="age" value="5"></property>
    </bean>
</beans>