<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--别名的设定-->
    <typeAliases>
        <!--用指定的包中的简单类名作为别名-->
        <package name="cn.smbms.entity"></package>
    </typeAliases>
</configuration>